# Gradle
.gradle/
build/
out/
classes/

# Eclipse
.settings/
bin/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# Mac
.DS_Store

# Fabric
run/

# Logs
logs/
*.log

# Other
*.launch
